$answer_highlight_colour: #C9FCFC; 

.question {
	br {
		display: none; 
	}
	.answers {
		list-style: none;
		padding-left: 0px;
		li {
			margin: 10px;
			cursor: pointer;
			border: 2px solid gray;
			background-color: rgb(206, 206, 206);
			font-size: 25px;
			font-weight: bold;
			line-height: 35px;
			vertical-align: middle;
			padding: 10px;
			span {
				margin-right: 10px;
			}
			&::before {
				content: "\2610";
				padding-right: 10px;
			}
			&:hover {
				background-color: $answer_highlight_colour;
			}
			&.click {
				&::before {
					content: "\2611";
				}
				background-color: $answer_highlight_colour;
			}
			&.not_clicked {
				opacity: 0.5;
			}

			/* change style when we have an image answer */
			&.img {
				display: inline-block;
				width: 170px;
				height: 180px;
				&::before {
					content: "";
					padding-right: 0px;
					font-style: normal !important;
				}
			}
		}
	}
}
.message {
	display: none;
	margin: 10px;
	border: 2px solid gray;
	padding: 20px;
	.share {
		border: none;
		width: 200px;
		color: white;
		display: block;
		margin-top: 20px;
	}
}
